*{
    margin: 0;
    padding: 0;
}
.body{
    background:url("../img.webp");
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position:absolute;
    top:22px;
    right:400px;
    font-size: 30px;
    font-weight: bold;
}
#hiscoreBox{
    position:absolute;
    top:50px;
    right:400px;
    font-size: 30px;
    font-weight: bold;
}

#name{
    position:absolute;
    bottom:50%;
    left:220px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: rgba(159, 173, 145, 0.747);
   
}

#board{
    background: linear-gradient(rgb(162, 230, 215),rgb(238, 238, 153));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    background: linear-gradient(red,yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}
.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}
.food{
    background: linear-gradient(red,purple);
    border: .25vmin solid white;
    border-radius: 8px;
}